body{
    background-color: rgb(255, 255, 255);
}

#title-name{
    padding: 1vh 0 1vh 3vw;
}

#navbar-tabs{
    padding: 0 0 0 0;
}

.home-tab-selected{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 0 0;
}

.home-tab{
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: rgb(216, 216, 216);
}

.cv-tab-selected{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px 0 0;
}

.cv-tab{
    width: 100%;
    border-radius: 15px 15px 0 0;
    background-color: rgb(216, 216, 216);
}

.module-tab-selected{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
}

.module-tab{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: rgb(216, 216, 216);
}

.journal-tab-selected{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
}

.journal-tab{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: rgb(216, 216, 216);
}

.github-tab-selected{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
}

.github-tab{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: rgb(216, 216, 216);
}

.paragraph-text{
    padding: 6vw 15vw 6vw 15vw;
}

.word-doc-viewer{
    display: flex;
    justify-self: center
}

.accordion-item {
  border: 1px solid #dee2e6;
  border-radius: 12px !important;
  overflow: hidden;
}

.accordion-item:not(:first-of-type) {
  border-top: 1px solid #dee2e6;
}

.accordion-button {
  border-radius: 12px !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.accordion {
  --bs-accordion-border-width: 0;
}

#programming-assignment-one{
    display: flex;
    justify-self: center;
}

#programming-assignment-two{
    display: flex;
    justify-self: center;
}

#web-assignment-one{
    display: flex;
    justify-self: center;
}

.web1-text{
    background-color: rgb(0, 0, 0, 0.5);
    width: 50%;
    justify-self: center;
    text-align: center;
    border-radius: 5px;
}

#web-assignment-two{
    display: flex;
    justify-self: center;
}

#cyber-assignment-one{
    display: flex;
    justify-self: center;
}

#cyber-assignment-two{
    display: flex;
    justify-self: center;
}

#network-assignment-one{
    display: flex;
    justify-self: center;
}

#network-assignment-two{
    display: flex;
    justify-self: center;
}

#data-assignment-one{
    display: flex;
    justify-self: center;
}

#data-assignment-two{
    display: flex;
    justify-self: center;
}

.journal-entry{
    border: 1px solid #dee2e6;
    border-radius: 12px !important;
    padding: 1vw 1vw 1vw 1vw;
}